<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8009/GeoService" binding="netTcpBinding"
        bindingConfiguration="binding1" contract="GeoLib.Contracts.IGeoService"
        name="tcpEP" />
      <endpoint address="http://localhost/GeoService" binding="basicHttpBinding"
        contract="GeoLib.Contracts.IGeoService" name="httpEP" />
      <endpoint address="net.tcp://localhost:8010/MessageService" binding="netTcpBinding"
        contract="GeoLib.Client.Contracts.IMessageService" />
      <endpoint address="net.tcp://localhost:8009/GeoService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IGeoService" contract="ServiceReference1.IGeoService"
        name="NetTcpBinding_IGeoService">
        <identity>
          <userPrincipalName value="acer\Mediaworld" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/GeoService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IGeoService" contract="ServiceReference1.IGeoService"
        name="BasicHttpBinding_IGeoService" />
      <endpoint address="net.tcp://localhost:8009/StatefulGeoService"
                 binding="netTcpBinding"
                 contract="GeoLib.Contracts.IStatefulGeoService"/>
    </client>
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGeoService" />
      </basicHttpBinding>
      <netTcpBinding>
        <!--transactionFlow attribute is neccesary to support Transactions-->
        <binding name="binding1" sendTimeout="00:05:00" maxReceivedMessageSize="2000000" transactionFlow="true" />
        <binding name="NetTcpBinding_IGeoService" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

</configuration>