<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="main" connectionString="Data Source=.\sqlexpress;Initial Catalog=ZipCodeData;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!--Service Configuration-->
  <system.serviceModel>
    <services>
      <service name="GeoLib.Services.GeoManager" behaviorConfiguration="ServiceMetadataBehavior">
        <!--each endpoint have a one-to-one relationship with a Service Contract-->
        <!--Address is the url where the service is going to exist.-->
        <!--The binding define the communication mechanism.-->
        <!--The contract is the service contract-->
        <endpoint address="net.tcp://localhost:8009/GeoService"
                  contract ="GeoLib.Contracts.IGeoService"
                  binding="netTcpBinding"
                  bindingConfiguration="binding1"/>

        <!--<endpoint  address="http://localhost/GeoService"
                  contract ="GeoLib.Contracts.IGeoService"
                  binding="basicHttpBinding"/>-->

        <!--Another Way to expose metadata by exposing a MEX endpoint.-->
        <!--the address will be the base address +  /MEX (net.tcp://localhost:8009/MEX)-->
        <endpoint address="MEX"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <!--The Base Address is used for the serviceMetadata behavior to expose the metadata.
            If we go to this address we will see the metadata of the service-->
            <add baseAddress="http://localhost:8080"/>
            <add baseAddress="net.tcp://localhost:8009"/>
            <!--address used by the mex endpoint-->
          </baseAddresses>
        </host>

      </service>

      <service name="GeoLib.Services.StatefulGeoManager">
        <endpoint address="net.tcp://localhost:8009/StatefulGeoService"
                  binding="netTcpBinding"
                  contract="GeoLib.Contracts.IStatefulGeoService"/>
      </service>

    </services>

    <bindings>
      <netTcpBinding>
        <!--transactionFlow attribute is neccesary to support Transactions-->
        <binding name="binding1" transactionFlow="true" sendTimeout="00:05:00" maxReceivedMessageSize="2000000">
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <!--Exposing Metadata by a service metadata behavior-->
        <behavior name="ServiceMetadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>