<div ng-controller="BookCreateCtrl">
    <form name="book" novalidate ng-submit="create(book)">
        <h2 class="text-primary">Add Book</h2>
        <div class="row">
            <div class="col-lg-2">
                Title:
            </div>
            <div class="col-lg-6">
                <input type="text" name="title" ng-model="newBook.title" required />
                <span class="text-danger" ng-show="book.title.$error.required">You must provide a title.</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-2">
                Description:
            </div>
            <div class="col-lg-6">
                <textarea name="description" rows="5" cols="50" maxlength="800" ng-model="newBook.description"></textarea>
            </div>
        </div>
    
        <div class="row">
            <div class="col-lg-2">
                Author:
            </div>
            <div class="col-lg-6">
                <select ng-model="newBook.authorId" name="authorId" ng-options="author.authorId as author.name for author in authors" required>
                    <option value="">-- Select Author --</option>
                </select>
                <span class="text-danger" ng-show="book.authorId.$error.required">You must select an author.</span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                Number in Stock:
            </div>
            <div class="col-lg-6">
                <input type="number" min="0" name="numberInStock" ng-model="newBook.numberInStock" required/>
                <span class="text-danger" ng-show="book.numberInStock.$error.required">Please indicate the number of books in stock.</span>
                <span class="text-danger" ng-show="book.numberInStock.$error.min">Number in stock must be greater than 0.</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-2">
                Number Of Purchases:
            </div>
            <div class="col-lg-6">
                 <input type="number" min="0" name="numberPurchases" ng-model="newBook.numberPurchases" required/>
                <span class="text-danger" ng-show="book.numberPurchases.$error.required">Please indicate the number of purchases.</span>
                <span class="text-danger" ng-show="book.numberPurchases.$error.min">Number of purchases must be greater than 0.</span>
            </div>
        </div>

        <p>
            <a href="/#/Books" class="btn btn-default glyphicon glyphicon-remove">Cancel</a>
            <button type="submit" class="btn btn-primary glyphicon glyphicon-pencil">Create</button>
        </p>
    </form>
</div>