<div ng-controller="HomeCtrl">
    <div class="jumbotron">
        <h2 class="text-primary">ASP.NET Bundling, Minification & Resource Optimization!</h2>
        <img src="http://placehold.it/350x150" class="img-rounded pull-right" />
        <p>A complete look into the bundling and minification optimization framework available in ASP.NET. You will learn how to effectively implement basic optimizations, extend System.Web.Optimization to meet your needs, and also discuss some of the key architectural questions and practices you should consider.</p>
        <p><a target="_blank" href="http://pluralsight.com/training/courses/TableOfContents?courseName=aspnet-bundling-minification-resource-optimization" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
    <div class="body-content">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="text-info">Books</h2>
                <p>Number of Books in Stock {{ numberInStock }} </p>
                <p><a class="btn btn-default" href="/#/Books">View details</a></p>
            </div>
        </div> 
    </div>
</div>
