@model  Base.SinglePageApplication.Infrastructure.PageConfiguration

@{
    ViewBag.Title = "Login";
}

@section ServerVariables
{
    <script type="text/javascript">
        var appConfig = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model,Model.JsonSettings));
    </script>
}

@section Menu
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#/Home">Book Store</a>
            <div class="nav-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="pull-right btn btn-link" href="/#/Home">Home</a></li>
                    <li><a class="pull-right btn btn-link" href="/#/Books">Books</a></li>
                    <li><a class="pull-right btn btn-link" href="/Home/Google">Go to Google</a></li>
                </ul>
            </div>
        </div>
    </div>
}

<div class="login-wrapper">
    <div class="login-container">
        <form class="login-form form" action="/Home/LoginPost" method="POST" autocomplete="off">
            <p class="text-danger">@ViewBag.Message</p>
            <div>
                <label for="userName">User Name</label>
                <input id="userName" name="userName" type="text" value="@ViewBag.UserName" ng-disabled="@ViewBag.IsDisabled"/>
            </div>
            <div class="footer-button">
                <input type="submit" class="btn btn-success" value="Login"/>
            </div>
        </form>
    </div>
</div>
